<!-- Header
		============================================= -->
<header id="header" class="split-menu transparent-header dark" data-sticky-class="not-dark"
    data-responsive-class="not-dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
					============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="assets/app-landing/images/logo-dark.png"><img
                        src="assets/app-landing/images/logo.png" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo"
                    data-dark-logo="assets/app-landing/images/logo-dark@2x.png"><img
                        src="assets/app-landing/images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
					============================================= -->
            <nav id="primary-menu" class="with-arrows clearfix not-dark">

                <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
                    <li><a href="#" data-href="#wrapper">
                            <div>Home</div>
                        </a></li>
                    <li><a href="#" data-href="#section-nextgen">
                            <div>Explore</div>
                        </a>
                        <ul>
                            <li><a href="#" data-href="#section-nextgen">
                                    <div>NextGen Framework</div>
                                </a></li>
                            <li><a href="#" data-href="#section-stunning-graphics">
                                    <div>Stunning Graphics</div>
                                </a></li>
                            <li><a href="#" data-href="#section-secured-solutions">
                                    <div>Secured Solutions</div>
                                </a></li>
                        </ul>
                    </li>
                    <li><a href="#" data-href="#section-pricing">
                            <div>Pricing</div>
                        </a></li>
                </ul>

                <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
                    <li><a href="#" data-href="#section-faqs">
                            <div>FAQs</div>
                        </a></li>
                    <li><a href="#" data-href="#section-gallery">
                            <div>Gallery</div>
                        </a></li>
                    <li class="menu-item-emphasis"><a href="#modal-login" data-lightbox="inline">
                            <div>Login</div>
                        </a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->

<section id="slider" class="slider-element full-screen slider-parallax" app-slider></section>

<!-- Content
		============================================= -->
<section id="content">

    <div class="content-wrap">

        <!-- Modal -->
        <div class="modal1 mfp-hide" id="modal-login">
            <div class="block divcenter" style="background-color: #FFF; max-width: 400px;">
                <div style="padding: 50px;">
                    <h3 class="font-body">Login to your Account</h3>
                    <form action="#" method="post" class="nobottommargin">
                        <div class="col_full">
                            <label class="font-body capitalize" for="login-form-modal-username">Username:</label>
                            <input type="text" id="login-form-modal-username" name="login-form-modal-username" value=""
                                class="form-control" />
                        </div>

                        <div class="col_full">
                            <label class="font-body capitalize" for="login-form-modal-password">Password:</label>
                            <input type="password" id="login-form-modal-password" name="login-form-modal-password"
                                value="" class="form-control" />
                        </div>

                        <div class="col_full nobottommargin">
                            <button class="button button-rounded nomargin" id="login-form-modal-submit"
                                name="login-form-modal-submit" value="login">Login</button>
                            <a href="#" class="fright">Forgot Password?</a>
                        </div>
                    </form>
                    <div class="line line-sm"></div>
                    <a href="#"
                        class="button button-rounded btn-block t400 center capitalize si-facebook si-colored noleftmargin norightmargin">Login
                        with Facebook</a>
                    <a href="#"
                        class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin">Login
                        with Google</a>
                </div>
            </div>
        </div>

        <div class="container clearfix">

            <div id="section-nextgen" class="page-section bottommargin-lg" app-feature1></div>

            <div class="line"></div>
            <div class="clear"></div>

            <div id="section-stunning-graphics" class="page-section topmargin bottommargin-lg" app-feature2></div>

            <div class="line"></div>
            <div class="clear"></div>

        </div>

        <div id="section-secured-solutions" class="page-section section nopadding topmargin-sm"
            style="background: url('assets/app-landing/images/section/iphone-3d-bg.png') no-repeat left bottom; background-size: 100% auto;"
            data-height-xl="700" data-height-lg="700" data-height-md="450" data-height-sm="450" data-height-xs="450"
            app-feature3></div>

        <div class="clear bottommargin"></div>

        <div class="container clearfix">

            <div id="section-pricing" class="page-section nopadding nomargin" app-pricing></div>

            <div class="clear"></div>

            <div id="section-faqs" class="page-section nopadding nomargin" app-faqs></div>

        </div>

        <div class="section bottommargin-lg"
            style="background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;"
            app-testimonial></div>

        <div class="clear"></div>

        <div id="section-gallery" class="page-section nopadding nomargin" app-screenshot></div>

        <div class="clear"></div>

        <div class="section"
            style="padding: 30px 0; color: #999; background-color: #F8FAFB; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5;"
            app-more-features></div>

        <div class="section center nobottommargin nobg">
            <div class="container clearfix">

                <h3 class="ls1 t400" style="font-size: 32px;">Experienced &amp; Trusted by <span>16,000+</span>
                    People worldwide</h3>
                <a href="#modal-login" data-lightbox="inline" class="button button-large button-black capitalize"
                    style="border-radius: 23px;">Login
                    Now</a>
                <a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250"
                    data-offset="160" class="button button-large capitalize" style="border-radius: 23px;">Try it
                    Free</a>

                <div class="clear bottommargin"></div>

            </div>
        </div>

        <div class="section notopmargin footer-stick"
            style="padding: 10px 0; background-color: #F8FAFB; border-top: 1px solid #E5E5E5;" app-services></div>

    </div>

</section><!-- #content end -->

<footer id="footer" style="background-color: #FFF;" app-footer></footer>