<div class="container clearfix">

    <div class="row clearfix">
        <div class="col-lg-4">
            <div class="app-footer-features"><i class="icon-line2-globe-alt"></i>
                <h5 class="font-body"><a href="#">Free Taining</a><span> &amp; 24-hour
                        coverage</span></h5>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="app-footer-features"><i class="icon-line2-notebook"></i>
                <h5 class="font-body"><a href="#">99.99% Uptime</a><span> the last 12 months</span>
                </h5>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="app-footer-features"><i class="icon-line2-lock"></i>
                <h5 class="font-body"><span>Serious about</span> <a href="#">Security</a>
                    <span>&amp;</span> <a href="#">Privacy</a></h5>
            </div>
        </div>
    </div>

</div>