<div class="container clearfix">
    <div class="row topmargin-lg clearfix">

        <div class="col-lg-4 bottommargin">
            <i class="i-plain i-large icon-et-browser inline-block" style="margin-bottom: 30px; color: #999;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <h4 style="font-size: 16px;">Cross Browser</h4>
            </div>
            <p class="" style="line-height: 26px;">Canvas 4 Loads Faster &amp; Smoother than the
                Previous Versions providing an Optimal Experience for your Users.</p>
        </div>

        <div class="col-lg-4 bottommargin">
            <i class="i-plain i-large icon-et-adjustments inline-block" style="margin-bottom: 30px; color: #999;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <h4 style="font-size: 16px;">Flexible Options</h4>
            </div>
            <p class="" style="line-height: 26px;">Unleash the Power of Mega Menus by adding Widgets
                &amp; Mixed Columns powered by the Bootstrap Grid.</p>
        </div>

        <div class="col-lg-4 bottommargin">
            <i class="i-plain i-large icon-et-calendar inline-block" style="margin-bottom: 30px; color: #999;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <h4 style="font-size: 16px;">Scheduled Backups</h4>
            </div>
            <p class="" style="line-height: 26px;">Amazing set of New Components giving you
                Opportunity to Create an Interactive Website for your Business.</p>
        </div>

        <div class="col-lg-4 bottommargin">
            <i class="i-plain i-large icon-et-desktop inline-block" style="margin-bottom: 30px; color: #999;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <h4 style="font-size: 16px;">Responsive Ready</h4>
            </div>
            <p class="" style="line-height: 26px;">Convert any Grid to an Isotope Grid easily with
                Filterable Options making it extremely flexible and powerful.</p>
        </div>

        <div class="col-lg-4 bottommargin">
            <i class="i-plain i-large icon-et-bargraph inline-block" style="margin-bottom: 30px; color: #999;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <h4 style="font-size: 16px;">Increased Conversions</h4>
            </div>
            <p class="" style="line-height: 26px;">Display an Alternate Lighter Menu on Responsive
                Devices with the same Markup Code as before. Awesomely Useful.</p>
        </div>

        <div class="col-lg-4 bottommargin">
            <i class="i-plain i-large icon-et-cloud inline-block" style="margin-bottom: 30px; color: #999;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                <h4 style="font-size: 16px;">Cloud Sharing</h4>
            </div>
            <p class="" style="line-height: 26px;">Added SPAM Protection for your Precious Forms so
                that you receive Emails only from Authentic Real Users.</p>
        </div>

    </div>
</div>