<div class="row clearfix">
    <div class="col-lg-7 center">
        <img src="assets/app-landing/images/section/iphone-watch.png" alt="NextGen Framework" data-animate="fadeInLeft">
    </div>
    <div class="col-lg-5">
        <div class="topmargin-lg d-none d-lg-block"></div>
        <img src="assets/app-landing/images/section/section-1-icon.png" alt="" style="display: block;"
            class="bottommargin-sm">
        <div class="emphasis-title bottommargin-sm">
            <span class="before-heading">Plug into the</span>
            <h2 style="font-size: 42px;" class="font-body ls1 t400">NextGen Framework</h2>
        </div>
        <p style="color: #777;" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Praesentium, vel! Eius pariatur nemo expedita.</p>
        <a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
    </div>
</div>