<div class="container clearfix">
    <div class="row clearfix">
        <div class="col-lg-5 offset-lg-6">
            <div class="topmargin-lg d-none d-lg-block"></div>
            <div class="topmargin-lg d-none d-lg-block"></div>
            <img src="assets/app-landing/images/section/section-3-icon.png" alt="" style="display: block;"
                class="bottommargin-sm">
            <div class="emphasis-title bottommargin-sm">
                <span class="before-heading">Privacy Protected</span>
                <h2 style="font-size: 42px;" class="font-body ls1 t400">Secured Solutions</h2>
            </div>
            <p style="color: #777;" class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Praesentium, vel! Eius pariatur nemo expedita.</p>
            <a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
        </div>
    </div>
</div>
<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
    <div class="video-overlay d-none d-lg-block"
        style="background: url('assets/app-landing/images/section/iphone-3d.png') no-repeat left top; background-size: auto 100%;"
        data-animate="fadeInLeft"></div>
</div>