<div class="container topmargin bottommargin-lg center clearfix">

    <h3 class="ls1 t400" style="font-size: 32px; margin-bottom: 10px;">App Screenshots</h3>
    <p class="lead divcenter" style="max-width: 600px">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Id, repellendus quae fuga ad, beatae odit.</p>
    <a href="#" class="button button-circle capitalize">Check All</a>

</div>

<div class="owl-carousel owl-carousel-full image-carousel carousel-widget bottommargin" data-margin="20"
    data-center="true" data-loop="true" data-nav="false" data-pagi="true" data-items-xs="2" data-items-sm="2"
    data-items-md="4" data-items-lg="4" data-items-xl="6" data-stage-padding="30" data-lightbox="gallery">

    <div class="oc-item">
        <a data-lightbox="gallery-item" href="assets/app-landing/images/gallery/img-1.jpg"><img
                src="assets/app-landing/images/gallery/img-1.jpg" alt="Image 1"></a>
    </div>
    <div class="oc-item">
        <a data-lightbox="gallery-item" href="assets/app-landing/images/gallery/img-2.jpg"><img
                src="assets/app-landing/images/gallery/img-2.jpg" alt="Image 2"></a>
    </div>
    <div class="oc-item">
        <a data-lightbox="gallery-item" href="assets/app-landing/images/gallery/img-3.jpg"><img
                src="assets/app-landing/images/gallery/img-3.jpg" alt="Image 3"></a>
    </div>
    <div class="oc-item">
        <a data-lightbox="gallery-item" href="assets/app-landing/images/gallery/img-4.jpg"><img
                src="assets/app-landing/images/gallery/img-4.jpg" alt="Image 4"></a>
    </div>
    <div class="oc-item">
        <a data-lightbox="gallery-item" href="assets/app-landing/images/gallery/img-5.jpg"><img
                src="assets/app-landing/images/gallery/img-5.jpg" alt="Image 5"></a>
    </div>
    <div class="oc-item">
        <a data-lightbox="gallery-item" href="assets/app-landing/images/gallery/img-6.jpg"><img
                src="assets/app-landing/images/gallery/img-6.jpg" alt="Image 5"></a>
    </div>
    <div class="oc-item">
        <a data-lightbox="gallery-item" href="assets/app-landing/images/gallery/img-7.jpg"><img
                src="assets/app-landing/images/gallery/img-7.jpg" alt="Image 5"></a>
    </div>

</div>